<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wshop.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.wshop.model.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mid" property="mid" jdbcType="INTEGER" />
    <result column="orderId" property="orderid" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="orderPrice" property="orderprice" jdbcType="DECIMAL" />
    <result column="addressId" property="addressid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="supportmethod" property="supportmethod" jdbcType="TINYINT" />
    <result column="support_time" property="supportTime" jdbcType="TIMESTAMP" />
    <result column="closemsg" property="closemsg" jdbcType="VARCHAR" />
    <result column="userfree" property="userfree" jdbcType="VARCHAR" />
    <result column="freecode" property="freecode" jdbcType="VARCHAR" />
    <result column="freeprice" property="freeprice" jdbcType="DECIMAL" />
    <result column="fahuo_time" property="fahuoTime" jdbcType="TIMESTAMP" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wshop.model.Order" extends="BaseResultMap" >
    <result column="sellerRemark" property="sellerremark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mid, orderId, user_id, orderPrice, addressId, status, supportmethod, support_time, 
    closemsg, userfree, freecode, freeprice, fahuo_time, add_time, flag
  </sql>
  <sql id="Blob_Column_List" >
    sellerRemark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hc_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hc_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wshop.model.Order" >
    insert into hc_order (id, mid, orderId, 
      user_id, orderPrice, addressId, 
      status, supportmethod, support_time, 
      closemsg, userfree, freecode, 
      freeprice, fahuo_time, add_time, 
      flag, sellerRemark)
    values (#{id,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER}, #{orderid,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{orderprice,jdbcType=DECIMAL}, #{addressid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{supportmethod,jdbcType=TINYINT}, #{supportTime,jdbcType=TIMESTAMP}, 
      #{closemsg,jdbcType=VARCHAR}, #{userfree,jdbcType=VARCHAR}, #{freecode,jdbcType=VARCHAR}, 
      #{freeprice,jdbcType=DECIMAL}, #{fahuoTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, 
      #{flag,jdbcType=INTEGER}, #{sellerremark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wshop.model.Order" >
    insert into hc_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderprice != null" >
        orderPrice,
      </if>
      <if test="addressid != null" >
        addressId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="supportmethod != null" >
        supportmethod,
      </if>
      <if test="supportTime != null" >
        support_time,
      </if>
      <if test="closemsg != null" >
        closemsg,
      </if>
      <if test="userfree != null" >
        userfree,
      </if>
      <if test="freecode != null" >
        freecode,
      </if>
      <if test="freeprice != null" >
        freeprice,
      </if>
      <if test="fahuoTime != null" >
        fahuo_time,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="sellerremark != null" >
        sellerRemark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderprice != null" >
        #{orderprice,jdbcType=DECIMAL},
      </if>
      <if test="addressid != null" >
        #{addressid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="supportmethod != null" >
        #{supportmethod,jdbcType=TINYINT},
      </if>
      <if test="supportTime != null" >
        #{supportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closemsg != null" >
        #{closemsg,jdbcType=VARCHAR},
      </if>
      <if test="userfree != null" >
        #{userfree,jdbcType=VARCHAR},
      </if>
      <if test="freecode != null" >
        #{freecode,jdbcType=VARCHAR},
      </if>
      <if test="freeprice != null" >
        #{freeprice,jdbcType=DECIMAL},
      </if>
      <if test="fahuoTime != null" >
        #{fahuoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="sellerremark != null" >
        #{sellerremark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wshop.model.Order" >
    update hc_order
    <set >
      <if test="mid != null" >
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderprice != null" >
        orderPrice = #{orderprice,jdbcType=DECIMAL},
      </if>
      <if test="addressid != null" >
        addressId = #{addressid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="supportmethod != null" >
        supportmethod = #{supportmethod,jdbcType=TINYINT},
      </if>
      <if test="supportTime != null" >
        support_time = #{supportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closemsg != null" >
        closemsg = #{closemsg,jdbcType=VARCHAR},
      </if>
      <if test="userfree != null" >
        userfree = #{userfree,jdbcType=VARCHAR},
      </if>
      <if test="freecode != null" >
        freecode = #{freecode,jdbcType=VARCHAR},
      </if>
      <if test="freeprice != null" >
        freeprice = #{freeprice,jdbcType=DECIMAL},
      </if>
      <if test="fahuoTime != null" >
        fahuo_time = #{fahuoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="sellerremark != null" >
        sellerRemark = #{sellerremark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wshop.model.Order" >
    update hc_order
    set mid = #{mid,jdbcType=INTEGER},
      orderId = #{orderid,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      orderPrice = #{orderprice,jdbcType=DECIMAL},
      addressId = #{addressid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      supportmethod = #{supportmethod,jdbcType=TINYINT},
      support_time = #{supportTime,jdbcType=TIMESTAMP},
      closemsg = #{closemsg,jdbcType=VARCHAR},
      userfree = #{userfree,jdbcType=VARCHAR},
      freecode = #{freecode,jdbcType=VARCHAR},
      freeprice = #{freeprice,jdbcType=DECIMAL},
      fahuo_time = #{fahuoTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER},
      sellerRemark = #{sellerremark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wshop.model.Order" >
    update hc_order
    set mid = #{mid,jdbcType=INTEGER},
      orderId = #{orderid,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      orderPrice = #{orderprice,jdbcType=DECIMAL},
      addressId = #{addressid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      supportmethod = #{supportmethod,jdbcType=TINYINT},
      support_time = #{supportTime,jdbcType=TIMESTAMP},
      closemsg = #{closemsg,jdbcType=VARCHAR},
      userfree = #{userfree,jdbcType=VARCHAR},
      freecode = #{freecode,jdbcType=VARCHAR},
      freeprice = #{freeprice,jdbcType=DECIMAL},
      fahuo_time = #{fahuoTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getOrderByMonth" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer"  >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hc_order
    <![CDATA[ where status >= 2 and status <=4 ]]>
  </select>

  <update id="updateOrderStatus" parameterType="Map" >
    update hc_order
    <trim prefix="set" suffixOverrides=",">
   <!--   <if test="orderid!=null"> orderId = #{orderid,jdbcType=VARCHAR},</if>-->
      <if test="flag!=null">flag=#{flag,jdbcType=INTEGER},</if>
    </trim>
    where orderId = #{orderId,jdbcType=INTEGER}
  </update>

</mapper>